---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Header />
	<main>
    <section id="hero">
      <h1>
        All about me.
      </h1>

      <section>
        <p>
          Just kidding, there's nothing here.
        </p>
        <p>
          It's just another page.
        </p>
      </section>
    </section>
  </main>
</Layout>

<style>
  	main {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
		display: flex;
		justify-content: center;
	}

	h1 {
		font-size: 2.5em;
		margin-top: 0.25em;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 1.8em;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

  @media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
