---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/GlobalStyle.astro';
---

<Layout>
	<Header />
	<main>
    <section id="hero">
      <h1>
        All about me.
      </h1>

      <section>
        <p>
          Just kidding, there's nothing here.
        </p>
        <p>
          It's just another page.
        </p>
      </section>
    </section>
  </main>
</Layout>

<style>
  	main {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 90%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		padding-top: 25vh;
	}

  @media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}
	}
</style>
