---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/GlobalStyle.astro';
---

<Layout>
	<Header />
	<main>
	<section id="hero">
		<h1>
			This is a sample site.
		</h1>

		<section>
			<p>
				Sometimes you have to start small.
			</p>
			<p>
				Also, here's some other nonsense.
			</p>
		</section>
	</section>
</main>
</Layout>

<style>
	main {
		display: flex;
		justify-content: center;
		height: 90%;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		padding-top: 25vh;
	}

	pre {
		font-family:
			ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono',
			monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
			linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}
	}
</style>
